body {
    font-family: Arial, sans-serif;
    font-size: 2vw;
    background: #ebe7d2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    z-index: 1;
}

header{
    position: relative;
    z-index: 1;
    padding-top:1vw;
    padding-bottom:1vw;
    color: white;
    background-color:rgb(24, 24, 24);
}

.header-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

.header-logo-container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}   

.header-logo{
    width: 5vw;
}

.header-ninja-line{
    position:absolute;
    margin-left:5vw;
    display: none;
}

.dropdown-repositories-items {
    background-color: #ebe7d2;
    position: absolute;
    overflow: hidden;
    height: 0vw;
    transition: .2s;
}

.dropdown-repositories-container:hover .dropdown-repositories-items {    
    overflow-y: auto;
    height: 30vw;
}

.dropdown-repositories-items a{
    color: black;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
}

.top-container a{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:1vw;
}

.top-img-1{
    position:relative;
    z-index: 0;
    width: 100%;
    border-radius: 5vw 5vw 5vw 5vw;
}

ul.slider-1 {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
}

.slider-1 .slick-slide {
    width:25vw;
    margin: 0 3vw;
}
.slider-1 .slick-slide img {
    width: 100%;
    border-radius: 5%;
}
.slider-1 .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    top: 10vw;
    z-index: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.slider-1 .slick-arrow::before {
    content: '';
    /* display: block; */
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
}
.slider-1 .slick-next {
    right: 0;
}
.slider-1 .slick-prev {
    left: 0;
}
.slider-1 .slick-next::before {
    left: 20px;
}
.slider-1 .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
}

.updates-container{
    margin-bottom:5vw;
}

ul.updates-item-1{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.updates-item-1 li{
    border-bottom:solid rgba(0, 0, 0, 0.5);
    border-bottom-width: 1px;
}

footer{
    padding-top:1vw;
    padding-bottom:1vw;
    color: white;
    background-color:rgb(24, 24, 24);
}

.footer-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "footer-logo . footer-list";
}

.footer-logo-container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}   

.footer-logo{
    width: 5vw;
    grid-area: footer-logo;
}

.footer-ninja-line{
    position:absolute;
    margin-left:5vw;
    display: none;
}

.footer-list{
    grid-area: footer-list;
}

li.footer-list-item {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    list-style:none;
}

/* For Whole Region */
.border-class{
    font-size:3vw;
    border-bottom:solid rgba(0, 0, 0, 0.5);
    margin-top:2vw;
    margin-bottom:1vw;
}